*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 45, 45);
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    height: fit-content;
    gap: 10px;
    padding: 20px;
}
button{
    width: 40px;
    height: 30px;
}
#yellow{
    background-color: rgb(237, 237, 52);
}
#red{
    background-color: rgb(245, 84, 84);
}
#green{
    background-color: green;
}
#purple{
    background-color: purple;
}